
*{
            padding: 0px;
            margin: 0px;
        }
#nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    border:0px solid red;
    height:100px;
    width:100%;

    
}
button{
    width:120px;
    height:40px;
    border:none;
    border-radius: 10px;
    
}

.fb{
    background-color:#35619f;
    color:white;
    font-size: large;
    margin-right:10px;
    margin-left:20px;
    margin-top:10px;
    
}
.fb:hover{
    background-color: #8fb6ee;
}
.email{
    background-color: gray;
    color:white;
    font-size: large;
    margin-top:10px;
}
.email:hover{
    background-color: rgb(100, 92, 92);
}
.login{
    color: gray;
    font-size: large;
    margin-left:20px;
    margin-top: 15px;

}
.signup{
    border:0px solid red;
    color:gray;
    font-size: large;
    margin-top: 15px;
    width:40%;
    
    height:20px
}
.signup>a{
 background-color: white;
 color:gray;
 text-decoration: none;
}
#right-side{
    border: 0px solid red;
    width:26%;
    height:70px;
    margin-top:20px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;    

}
.logo{
    margin-left: 230px;
}
#navbar2{
    justify-content: space-evenly;
    border:px solid red;
    height:60px;
    margin-top: 10px;
    background-color: #2bb673;
    color:white;
    font-size: 30px;
    padding:10px;
    align-items: center;
    
}

.keys{
    margin-top:10px;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
#slide{
    border:px solid red;
    height:600px;
    width:90%;
    margin:auto;
    margin-left:120px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */


}
#slide > img{
    margin-top:10px;
    width:90%;
    height:600px
}
#headings{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#headings>h1{
    color:gray;
}
#headings>h2{
    color:blue;
    font-size:30px;
}
a{
  color:white;
  background-color:  #2bb673;
 
}
#frst-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,200px);
    border: 0px solid red;
    margin:auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#frst-div > div{
    border: 0px solid blue;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    margin-right: 90px;
    
}
#frst-div > div> img{
    width:auto;
    justify-content: space-around;
    padding: 10px;
   
}
#scnd-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,200px);
    border: 0px solid red;
    margin:auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
#scnd-div > div{
    border: 0px solid blue;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    margin-right: 90px;
    
}
#scnd-div > div> img{
    width:auto;
    justify-content: space-around;
    padding: 10px;
   
}

#thrd-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,200px);
    border: 0px solid red;
    margin:auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#thrd-div > div{
    border: 0px solid blue;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    margin-right: 90px;
    
}
#thrd-div > div> img{
    width:auto;
    justify-content: space-around;
    padding: 10px;
   
}
#last{
    padding:40px;
    border: 0px solid blue;
    width:70%;
    margin: auto;
}
#h2WithPic{
    color:gray;
    border: 0px solid red;
width:60%;
padding:20px;
margin: auto;
display:flex;
justify-content:space-around ;
}
#frth{
    border:0px solid red;
    width:60%;
    margin:auto;
    color:gray;
    padding: 40px;
}
#last-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,200px);
    border: 0px solid red;
    justify-content: space-evenly;
    gap:20px;
    padding:10px

}
#last-grid>div{
    border:1px solid gray;
border-radius: 10px;
color: gray;
justify-content: center;

}
#last-grid >div >img{
margin: auto;
padding: 10px;
}
#last-sent{
   
    width:90%;
    margin:auto;
    color:gray;
    font-size: 25px;
    margin-top: 30px;
    padding: 30px;
}
#last-btn{
    background-color:#f53838;
   width:25%;
  height: 80px;
    color:white;
    margin-left:500px;
    margin-top:30px;
    border-radius: 20px;
    
    
    


}